<h1 class="text-center"> cuidados </h1>

<ul>
<li> Espacio son suficiente luz</li>
<li>Cambiar de sitio constantemente</li>
<li>Regar cada 8 o 15 dias según el lugar</li>
<li>Conservar en buena tierra</li>
<li>Verificar que la vasija tenga drenaje</li>
<li>Limpiar las hojas para resaltar el color</li>
</ul>
