<div class="dNosotros">
   <h1 class="text-center">Sobre nosotros</h1>
   <h3 style="text-align:center">Somos emprendedores que reconocemos la importancia del cuidado de la naturaleza, impulsando la tenencia de plantas que generen armonía, como es el caso de las suculentas que se describen como aquellas plantas que almacenan gran cantidad de agua en sus hojas, lo que les permite vivir en lugares secos donde hay carencia de agua, ya que son especialista en el almacenaje de la misma. Estás a su vez según la cultural pueden significar abundancia y prosperidad o tambien algunas de ellas son usadas con fines medicinales.</h3>
   <%= image_tag "nosotros.png" %>
</div>